<div class="container-fluid">
    <div class="portfolio-gallery">
        <div class="all">
            <div class="first-all">
                <div class="first-all-img">
                    <img src="assets/images/proj-1.jpg" class="card-image">
                </div>
                <div class="first-all-img">
                    <img src="assets/images/proj-2.jpg" class="card-image">                   
                </div>
                <div class="first-all-img">
                    <img src="assets/images/proj-3.jpg" class="card-image">
                </div>
            </div>
            <div class="first-all">
                <div class="first-all-img">
                    <img src="assets/images/proj-4.jpg" class="card-image">
                </div>
                <div class="first-all-img">
                    <img src="assets/images/proj-5.jpg" class="card-image">
                </div>
                <div class="first-all-img">
                    <img src="assets/images/proj-6.jpg" class="card-image">                    
                </div>
            </div>
        </div>
    </div>
</div>