.container-fluid {
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    perspective: 3px;
}

.portfolio-gallery {
    margin-top: 50px;
    padding-bottom: 100px;
}

.all {
    display: flex;
    flex-direction: column;
}

.first-all {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    flex-wrap: wrap;
}

.first-all-img {
    position: relative;
    margin: 10px;
    flex: 0 0 30.333333%;
}

@media (max-width: 800px) { 
    .first-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .first-all-img {
        position: relative;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
}