<div class="container-fluid">
  <p>Feedback form</p>
  <div class="card">
    <form class="feedback-form" [formGroup]="feedbackForm">
      <div class="form-group">
          <input type="text" class="form-control" id="first-name" placeholder="Full Name" formControlName="name">
          <div class="error" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
              <div *ngIf="name?.errors?.required || name?.errors?.notOnlyWhitespace">
                Name is required
              </div>
              <div *ngIf="name?.errors?.minlength">
                Name must be atleast 2 characters long
              </div>
          </div>
      </div>
      <div class="form-group">
          <input type="text" class="form-control" id="location" placeholder="Location" formControlName="location">
          <div class="error" *ngIf="location?.invalid && (location?.dirty || location?.touched)">
            <div *ngIf="location?.errors?.required || location?.errors?.notOnlyWhitespace">
              Location is required
            </div>
          </div>
      </div>
      <div class="form-group">
          <textarea class="form-control" id="feedback" placeholder="Feedback Message" style="height: 150px;"
              formControlName="feedback">
          </textarea>
          <div class="error" *ngIf="feedback?.invalid && (feedback?.dirty || feedback?.touched)">
              <div *ngIf="feedback?.errors?.required || feedback?.errors?.notOnlyWhitespace">
                Feedback is required
              </div>
          </div>
      </div>
      <div class="form-group file-upload">
        <label for="files" class="btn btn-outline-dark upload-button">Select Image</label>
        <input type="file" id="files" style="visibility:hidden;"
            class="text-nowrap text-truncate" (change)="selectFile($event)"/>
        <p *ngIf="fileTrue" class="upload-p">{{ file.name }}</p>
      </div>
      <div class="form-button">
        <button type="submit" class="btn btn-success form-btn" [disabled]="!selectedFiles || !feedbackForm.valid" 
          (click)="upload(feedbackForm.value)">Submit</button>
      </div>      
    </form>
  </div>  
</div>


<!-- <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()"> Upload </button> -->

<!-- <div *ngIf="currentFileUpload" class="progress mt-2">
    <div class="progress-bar progress-bar-info" role="progressbar"
      attr.aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" 
      [ngStyle]="{ width: percentage + '%' }">
        {{ percentage }}%
    </div>
</div> -->


<!-- <div class="card">
    <div class="card-header">List of Files</div>
    <ul class="list-group list-group-flush" *ngFor="let file of fileUploads">
      <li class="list-group-item">
        <a href="{{ file.url }}">{{ file.name }}</a>
        <button class="btn btn-danger btn-sm" style="float: right">Delete</button>
      </li>
    </ul>
</div> -->