<div class="container-fluid">
    <div class="portfolio-gallery">
        <div class="all">
            <div class="first-all">
                <div class="first-all-img" (click)="goToGallery('subramanyam')">
                    <div class="content-overlay"></div>
                    <div *ngFor="let item of _3dArray">
                        <img src={item} width="200" height="60" class="card-image">
                    </div>
                    <div class="fadeIn-bottom"></div>
                    <div class="proj-info"> 
                        <h4>Ms Subramanyam</h4>
                        <p>7 Photos</p>
                    </div>
                    <div class="proj-empty"></div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-cards">
                <div class="card each-card">
                    <div class="card-header each-card-header">
                        <img src="assets/images/logo-1.png" width="140" height="60">
                    </div>
                    <div class="card-body each-card-body">
                        <p class="card-text footer-cards-p each-card-body-p">
                            <span> We are a team of professional, </span>
                            <span> energetic individuals with </span>
                            <span> talented designers avaliable to </span>
                            <span> guide our clients through the </span>
                            <span> flawless and timely execution </span>
                            <span> of any Interior Design project. </span>
                        </p>
                        <p class="card-text footer-cards-p">
                            No 85/1 Sulikunte, Sarjapura main road, Bangalore
                        </p>
                        <p class="card-text footer-cards-p">
                        </p>
                        <p class="card-text footer-cards-p">
                            info@nanointeriors.com
                        </p>
                    </div>
                </div>
                <div class="card each-card">
                    <div class="card-header each-card-header">
                        <h5>Location</h5>
                        <div class="footer-text-empty">
                        </div>
                    </div>
                </div>
                <div class="card each-card">
                    <div class="card-header each-card-header">
                        <h5>Navigation</h5>
                        <div class="footer-text-empty">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="use-links">
                            <div class="first-link-part footer-cards-p">
                                <div class="each-link-first">
                                    <p>Concept Design</p>
                                </div>
                                <div class="each-link">
                                    <p>Project Designs</p>
                                </div>
                                <div class="each-link">
                                    <p>Make Overs</p>
                                </div>
                                <div class="each-link">
                                    <p>Consulting</p>
                                </div>
                                <div class="each-link">
                                    <p>Consulting</p>
                                </div>
                            </div>
                            <div class="second-link-part footer-cards-p">
                                <div class="each-link-first">
                                    <p>Concept Design</p>
                                </div>
                                <div class="each-link">
                                    <p>Project Designs</p>
                                </div>
                                <div class="each-link">
                                    <p>Make Overs</p>
                                </div>
                                <div class="each-link">
                                    <p>Consulting</p>
                                </div>
                                <div class="each-link">
                                    <p>Consulting</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card each-card">
                    <div class="card-header each-card-header">
                        <h5>Contact Us</h5>
                        <div class="footer-text-empty">
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text footer-cards-p">
                            <input class="footer-input" type="tel" placeholder="Phone num">
                        </p>
                        <p class="card-text footer-cards-p">
                            <input class="footer-input" type="text" placeholder="Your Email">
                        </p>
                        <p class="card-text footer-cards-p">
                            <button type="submit" class="btn footer-btn">Submit</button>
                        </p>
                        <p class="card-text footer-cards-p">*Contact us and get latest news and updates</p>
                    </div>
                </div>
            </div>
        </div>
    </div>