.navbar-brand,
.navbar {
    padding: 0;
}

.navbar-brand {
    margin-left: 450px;
}
.collapse {
    padding: 10px;
}
  
// .page-container {
//     margin-top: 10px;
// }
  
.navbar-nav > li{
    margin-left:10px;
    margin-right:10px;
}

.fixed-bottom  {
    display: none;
}

@media (max-width: 800px) {
    .navbar-brand {
        margin-left: 0px;
    }

    .navbar-toggler {
        margin-left: 10px;
    }

    .fixed-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8a000;      
    }
    .footer-cards-icon {
        //background-color: #00a2eb;  
        margin-left: 20px;   
        margin-right: 20px;
    }

    .navbar-brand > fa-icon {
        color: #00a2eb
    }
}
  