<div class="container-fluid">
    <div class="parallax-search overlay home-1">
    </div>
    <div class="flex-div heading">
      <p> ABOUT US </p>        
    </div>
    <div class="who-we-are">
        <div class="who-we-are-img">
            <img src="../../../assets/images/about-us.jpeg"/>
        </div>
        <div class="who-we-are-text">
            <div class="who-we-are-text-1">
                <div class="who-we-are-text-1-p">
                    <p>ABOUT NANO INTERIORS</p>
                </div>
                <div class="who-we-are-text-1-empty">
                </div>
            </div>
            <div class="who-we-are-text-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odio id voluptatibus incidunt cum? 
                    Atque quasi eum debitis optio ab. Esse itaque officiis tempora possimus odio rerum aperiam ratione, sunt. 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit sunt.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odio id voluptatibus incidunt cum? 
                    Atque quasi eum debitis optio ab. Esse itaque officiis tempora possimus odio rerum aperiam ratione, sunt. 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit sunt.
                </p>
            </div>
            
        </div>
    </div>

    <div class="team">
        <div class="team-text">
            <div class="team-text-empty">
            </div>
            <div class="team-text-p">
                <p>MEET <br> OUR TEAM</p>
            </div>
        </div>
        <div class="team-details-3">
            <div class="card profile">
                <div class="card-image">
                    <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
                </div>
                <ul class="social-icons">
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                </ul>
                <div class="details">
                    <h2>John Smith
                      <br>
                      <span class="job-title">UI Developer</span>
                    </h2>
                </div>
            </div>
            <div class="card profile">
                <div class="card-image">
                    <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
                </div>
                <ul class="social-icons">
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                </ul>
                <div class="details">
                    <h2>John Smith
                      <br>
                      <span class="job-title">UI Developer</span>
                    </h2>
                </div>
            </div>
            <div class="card profile">
                <div class="card-image">
                    <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
                </div>
                <ul class="social-icons">
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                </ul>
                <div class="details">
                    <h2>John Smith
                      <br>
                      <span class="job-title">UI Developer</span>
                    </h2>
                </div>
            </div>
            <div class="card profile">
                <div class="card-image">
                    <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
                </div>
                <ul class="social-icons">
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                      </a>
                    </li>
                </ul>
                <div class="details">
                    <h2>John Smith
                      <br>
                      <span class="job-title">UI Developer</span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="counterup">
            <div class="row">
                <div class="four col-md-3">
                    <div class="counter-box"> <i class="fa fa-thumbs-o-up"></i> <span class="counter">36</span>
                        <p>HAPPY CLIENTS</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box"> <i class="fa fa-group"></i> <span class="counter">5000</span>
                        <p>OUR PROJECTS</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box"> <i class="fa fa-shopping-cart"></i> <span class="counter">24</span>
                        <p>HOURS WORKED</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box"> <i class="fa fa-user"></i> <span class="counter">47</span>
                        <p>WON AWARDS</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="footer">
            <div class="footer-cards">
                <div class="card each-card">
                    <div class="card-header each-card-header">
                        <img src="assets/images/logo-1.png" width="140" height="60" >
                    </div>
                    <div class="card-body each-card-body">
                        <p class="card-text footer-cards-p each-card-body-p">
                            <span> We are a team of professional, </span>
                            <span> energetic individuals with </span>
                            <span> talented designers avaliable to </span>
                            <span> guide our clients through the </span>
                            <span> flawless and timely execution  </span>
                            <span> of any Interior Design project. </span>                      
                        </p>
                        <p class="card-text footer-cards-p">
                            <fa-icon [icon]="faMapMarkerAlt" class="fa-xs footer-cards-icon"></fa-icon> Falt 201, Hebbal, Bangalore
                        </p>
                        <p class="card-text footer-cards-p">
                            <fa-icon [icon]="faEnvelope" class="fa-xs footer-cards-icon"></fa-icon> +324 123 45 978
                        </p>
                        <p class="card-text footer-cards-p">
                            <fa-icon [icon]="faPhoneAlt" class="fa-xs footer-cards-icon"></fa-icon> Support@Mailus.Com
                        </p>
                    </div>
                </div>
                <div class="card each-card">
                    <div class="card-header each-card-header">
                        <h5>Location</h5>
                        <div class="footer-text-empty">
                        </div>
                    </div>
                    <div class="card-body each-card-body">
                        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                                (dragEnd)="markerDragEnd($event)"></agm-marker>
                        </agm-map>                    
                    </div>
                </div>
                <div class="card each-card">
                    <div class="card-header each-card-header">
                        <h5>Navigation</h5>
                        <div class="footer-text-empty">
                        </div>
                    </div>
                    <div class="card-body">        
                        <div class="use-links">
                            <div class="first-link-part footer-cards-p">
                                <div class="each-link-first"><p>Concept Design</p></div>
                                <div class="each-link"><p>Project Designs</p></div>
                                <div class="each-link"><p>Make Overs</p></div>
                                <div class="each-link"><p>Consulting</p></div>
                                <div class="each-link"><p>Consulting</p></div>
                            </div>
                            <div class="second-link-part footer-cards-p">
                                <div class="each-link-first"><p>Concept Design</p></div>
                                <div class="each-link"><p>Project Designs</p></div>
                                <div class="each-link"><p>Make Overs</p></div>
                                <div class="each-link"><p>Consulting</p></div>
                                <div class="each-link"><p>Consulting</p></div>
                            </div>      
                          </div>
                    </div>
                </div>
                <div class="card each-card">
                    <div class="card-header each-card-header">
                        <h5>Contact Us</h5>
                        <div class="footer-text-empty">
                        </div>
                    </div>
                    <div class="card-body"> 
                        <p class="card-text footer-cards-p">
                          <input class="footer-input" type="tel" placeholder="Phone num">
                        </p>       
                        <p class="card-text footer-cards-p">
                            <input class="footer-input" type="text" placeholder="Your Email">
                        </p>
                        <p class="card-text footer-cards-p">
                            <button type="submit" class="btn footer-btn">Submit</button>
                        </p>
                        <p class="card-text footer-cards-p">*Contact us and get latest news and updates</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
</div>
<nav class="navbar fixed-bottom navbar-light">
    <div class="bottomnav-cards-icon">
      <a class="navbar-brand">
        <!-- <fa-icon [icon]="faInstagram" class="fa-2x"></fa-icon> -->
        <img src="https://img.icons8.com/ios/40/f87800/instagram-new.png"/>
      </a>
    </div>
    <div class="bottomnav-cards-icon">
      <a class="navbar-brand">
        <!-- <fa-icon [icon]="faPhoneAlt" class="fa-2x"></fa-icon> -->
        <img src="https://img.icons8.com/ios/40/f87800/apple-phone.png"/>
      </a>
    </div>    
    <div class="bottomnav-cards-icon">
      <a class="navbar-brand">
        <!-- <fa-icon [icon]="faWhatsapp" class="fa-2x"></fa-icon> -->
        <img src="https://img.icons8.com/ios/40/f87800/whatsapp--v5.png"/>
      </a>
    </div>
</nav>