<div class="container-fluid">
    <div class="parallax-search overlay home-1">
    </div>
    <div class="flex-div heading">
      <p> ABOUT US </p>        
    </div>
    <div class="who-we-are">
        <div class="who-we-are-img">
            <img src="../../../assets/images/about-us.jpeg"/>
        </div>
        <div class="who-we-are-text">
            <div class="who-we-are-text-1">
                <div class="who-we-are-text-1-p">
                    <p>ABOUT NANO INTERIORS</p>
                </div>
                <div class="who-we-are-text-1-empty">
                </div>
            </div>
            <div class="who-we-are-text-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odio id voluptatibus incidunt cum? 
                    Atque quasi eum debitis optio ab. Esse itaque officiis tempora possimus odio rerum aperiam ratione, sunt. 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit sunt.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odio id voluptatibus incidunt cum? 
                    Atque quasi eum debitis optio ab. Esse itaque officiis tempora possimus odio rerum aperiam ratione, sunt. 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit sunt.
                </p>
            </div>
            
        </div>
    </div>

    <div class="team">
        <div class="team-text">
            <div class="team-text-empty">
            </div>
            <div class="team-text-p">
                <p>MEET <br> OUR TEAM</p>
            </div>
        </div>
    </div>
    <br><br>
</div>
<br><br>