<div class="container-fluid">
  <div class="parallax-search overlay home-1"></div>
  <div class="flex-div heading">
    <p>OUR SERVICES</p>
  </div>

  <div class="services">
    <div class="services-text">
      <div class="services-text-empty"></div>
      <div class="services-text-p">
        <p>
          OUR PROFESSIONAL <br />
          SERVICES
        </p>
      </div>
    </div>
    <div class="working-sectors-1">
      <div class="card ws-card">
        <div class="card-header">
          <img src="assets/images/v2-1.jpg" class="ws-img" />
        </div>
        <div class="card-body">
          <div class="card_img testimonials-card-img">
            <img src="../../../assets/images/ser3.png" alt="user-image" />
          </div>
          <h5 class="card-title services-title">Furniture</h5>
          <!-- <p class="card-text services-title">
            We are an Interior Designer, Who believe in excellence, quality and honesty to design beautiful home interiors. We pay attention to every aspect of our work
          </p> -->
        </div>
        <!-- <div class="card-footer service-card-footer">
          <a href="#" type="button" class="btn">Read More</a>
        </div> -->
      </div>
      <div class="card ws-card">
        <div class="card-header">
          <img src="assets/images/v2-2.jpg" class="ws-img" />
        </div>
        <div class="card-body">
          <div class="card_img testimonials-card-img">
            <img src="../../../assets/images/ser2.png" alt="user-image" />
          </div>
          <h5 class="card-title services-title">Home decor</h5>
          <!-- <p class="card-text services-title">
            Our design studio often deals with Office modelling. We can successfully transform your office into a visually attractive center for business activity.
          </p> -->
        </div>
        <!-- <div class="card-footer service-card-footer">
          <a href="#" type="button" class="btn">Read More</a>
        </div> -->
      </div>
      <div class="card ws-card">
        <div class="card-header">
          <img src="assets/images/v2-3.jpg" class="ws-img" />
        </div>
        <div class="card-body">
          <div class="card_img testimonials-card-img">
            <img src="../../../assets/images/ser1.png" alt="user-image" />
          </div>
          <h5 class="card-title services-title">End to End Solutions</h5>
          <!-- <p class="card-text services-title">
            While not being limited by resendials and office projects, we are eager to work on designing Intustries, Studios, educational centres and many more.
          </p> -->
        </div>
        <!-- <div class="card-footer service-card-footer">
          <a href="#" type="button" class="btn">Read More</a>
        </div> -->
      </div>
    </div>
    <div class="working-sectors-2">
      <div class="card ws-card">
        <div class="card-header">
          <img src="assets/images/v2-4.jpg" class="ws-img" />
        </div>
        <div class="card-body">
          <div class="card_img testimonials-card-img">
            <img src="../../../assets/images/ser4.png" alt="user-image" />
          </div>
          <h5 class="card-title services-title">Modular Wardrobes</h5>
          <!-- <p class="card-text services-title">
        Comfortable and Well Invetented spaces for our clients that create positive change in people's lives.
          </p> -->
        </div>
        <!-- <div class="card-footer service-card-footer">
          <a href="#" type="button" class="btn">Read More</a>
        </div> -->
      </div>
      <div class="card ws-card">
        <div class="card-header">
          <img src="assets/images/v2-5.jpg" class="ws-img" />
        </div>
        <div class="card-body">
          <div class="card_img testimonials-card-img">
            <img src="../../../assets/images/ser5.png" alt="user-image" />
          </div>
          <h5 class="card-title services-title">Modern Furniture</h5>
          <!-- <p class="card-text services-title">
        Our products have superior quality materials with Great Performance and Better Crafted.
          </p> -->
        </div>
        <!-- <div class="card-footer service-card-footer">
          <a href="#" type="button" class="btn">Read More</a>
        </div> -->
      </div>
      <div class="card ws-card">
        <div class="card-header">
          <img src="assets/images/v2-6.jpg" class="ws-img" />
        </div>
        <div class="card-body">
          <div class="card_img testimonials-card-img">
            <img src="../../../assets/images/ser6.png" alt="user-image" />
          </div>
          <h5 class="card-title services-title">Wooden Storage</h5>
          <!-- <p class="card-text services-title">
        With smart and efficient interiors, lets make your Kitchen interiored with Science and Delicacy.
          </p> -->
        </div>
        <!-- <div class="card-footer service-card-footer">
          <a href="#" type="button" class="btn">Read More</a>
        </div> -->
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-cards">
      <div class="card each-card">
        <div class="card-header each-card-header">
          <img src="assets/images/logo-1.png" width="140" height="60" />
        </div>
        <div class="card-body each-card-body">
          <p class="card-text footer-cards-p each-card-body-p">
            <span> We are a team of professional, </span>
            <span> energetic individuals with </span>
            <span> talented designers avaliable to </span>
            <span> guide our clients through the </span>
            <span> flawless and timely execution </span>
            <span> of any Interior Design project. </span>
          </p>
          <p class="card-text footer-cards-p">
            <fa-icon
              [icon]="faMapMarkerAlt"
              class="fa-xs footer-cards-icon"
            ></fa-icon>
            No 85/1 Sulikunte, Sarjapura main road, Bangalore
          </p>
          <p class="card-text footer-cards-p">
            <fa-icon
              [icon]="faPhoneAlt"
              class="fa-xs footer-cards-icon"
            ></fa-icon>
            +91 98444 14984
          </p>
          <p class="card-text footer-cards-p">
            <fa-icon
              [icon]="faEnvelope"
              class="fa-xs footer-cards-icon"
            ></fa-icon>
            info@nanointeriors.com
          </p>
        </div>
      </div>
      <div class="card each-card">
        <div class="card-header each-card-header">
          <h5>Location</h5>
          <div class="footer-text-empty"></div>
        </div>
        <div class="card-body each-card-body">
          <iframe class="agm-map" width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=52.70967533219885, -8.020019531250002&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br />

        </div>
      </div>
      <div class="card each-card">
        <div class="card-header each-card-header">
          <h5>Navigation</h5>
          <div class="footer-text-empty"></div>
        </div>
        <div class="card-body">
          <div class="use-links">
            <div class="first-link-part footer-cards-p">
              <div class="each-link-first">
                  <p>
                      <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active-link">Home</a>
                  </p>
              </div>
              <div class="each-link">
                  <p>
                      <a class="nav-link" [routerLink]="'/about-us'" routerLinkActive="active-link">About Us</a>
                  </p>
              </div>
              <div class="each-link">
                  <p>
                      <a class="nav-link" [routerLink]="'/services'" routerLinkActive="active-link">Services</a>
                  </p>
              </div>
              <div class="each-link">
                  <p>
                      <a class="nav-link" [routerLink]="'/projects'" routerLinkActive="active-link">Projects</a>
                  </p>
              </div>
          </div>
          <div class="second-link-part footer-cards-p">
              <div class="each-link-first">
                  <p>
                      <a class="nav-link" [routerLink]="'/projects/premium'" routerLinkActive="active-link">Luxury Projects</a> 
                  </p>
              </div>
              <div class="each-link">
                  <p>
                      <a class="nav-link" [routerLink]="'/projects/premium'" routerLinkActive="active-link">Premium Projects</a>
                  </p>
              </div>
              <div class="each-link">
                  <p>
                      <a class="nav-link" [routerLink]="'/projects/premium'" routerLinkActive="active-link">Budget Projects</a>
                  </p>
              </div>                            
          </div>   
          </div>
        </div>
      </div>
      <div class="card each-card">
        <div class="card-header each-card-header">
          <h5>Contact Us</h5>
          <div class="footer-text-empty"></div>
        </div>
        <div class="card-body">
          <p class="card-text footer-cards-p">
            <input class="footer-input" type="tel" placeholder="Phone" />
          </p>
          <p class="card-text footer-cards-p">
            <input class="footer-input" type="text" placeholder="Your Email" />
          </p>
          <p class="card-text footer-cards-p">
            <button type="submit" class="btn footer-btn">Submit</button>
          </p>
          <p class="card-text footer-cards-p">
            *Contact us and get latest news and updates
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-light">
  <div class="bottomnav-cards-icon">
    <a class="navbar-brand">
      <!-- <fa-icon [icon]="faInstagram" class="fa-2x"></fa-icon> -->
      <img src="https://img.icons8.com/ios/40/f87800/instagram-new.png" />
    </a>
  </div>
  <div class="bottomnav-cards-icon">
    <a class="navbar-brand">
      <!-- <fa-icon [icon]="faPhoneAlt" class="fa-2x"></fa-icon> -->
      <img src="https://img.icons8.com/ios/40/f87800/apple-phone.png" />
    </a>
  </div>
  <div class="bottomnav-cards-icon">
    <a class="navbar-brand">
      <!-- <fa-icon [icon]="faWhatsapp" class="fa-2x"></fa-icon> -->
      <img src="https://img.icons8.com/ios/40/f87800/whatsapp--v5.png" />
    </a>
  </div>
</nav>
